exportPattern("^[[:alpha:]]+")

import(stats)
import(xtable)
import(data.table)
importFrom(RRF, RRF, getTree)
importFrom(gbm, pretty.gbm.tree)
importFrom(xgboost, xgb.model.dt.tree)
import(arules)
importFrom(methods, as)
importFrom(ranger, treeInfo)